body {
  font-family: "Fira Sans", serif;
  background: #f5f5f5;
}

/* Header Nav Area */
.hero-area {
  max-width: 1600px;
  height: 100px;
}

.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 160px;
  width: 100%;
}

.nav-heading {
  font-weight: bold;
  font-size: 30px;
  color: #0E0E0E;
}

.nav-btn {
  text-decoration: none;
  color: #006A50;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #006A50;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-btn:hover {
  background-color: #006A50;
  color: white;
}

/* Banner Area */
.main-area {
  max-width: 1280px;
  /* background: red; */
  margin: 0 auto;
}

.banner {
  height: 560px;
  width: 100%;
  background-color: #C6E4D6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 80px;
  border-radius: 24px;
}

.banner-texts {
  padding-top: 117px;
  padding-bottom: 117px;
  padding-left: 60px;
  width: 622px;
}

.banner-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}

.banner-title {
  font-weight: bold;
  font-size: 56px;
  color: #0E0E0E;
  margin-bottom: 0;
}

.hero-img {
  height: 400px;
}

.banner-btn {
  background-color: #006A50;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 17px 34px;
  margin-top: 24px;
}

/* Pillars of BD */
.pillars-of-bd {
  margin-bottom: 80px;
}

.pillar-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 32px;
}

.pillars {
  width: 300px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
  background: #FFFFFF;
}

.pillar-img {
  height: 62px;
  width: 62px;
}

.pillar-subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 0;
  color: rgba(14, 14, 14, 0.8);
}

.pillar-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
}

.pillar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* Categories Area */
.categories-section {
  margin-bottom: 32px;
}

.categories-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 24px;
  color: #0E0E0E;
}

.categories-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.categories {
  width: 411px;
  padding: 32px;
  border-radius: 16px;
}

.categories-1 {
  background: rgba(84, 144, 245, 0.2);
}

.categories-2 {
  background: rgba(198, 228, 214, 1);
}

.categories-3 {
  background: rgba(247, 235, 207, 1);
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.categories-subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.8);
}

.categories-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin-bottom: 24px;
}

.categories-btn-1 {
  background: #5490F5;
  border-radius: 8px;
  border: none;
  padding: 11px 20px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.categories-btn-1:hover {
  background: #2f61b8;
}

.categories-btn-2 {
  background: #09A15C;
  border-radius: 8px;
  border: none;
  padding: 11px 20px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.categories-btn-2:hover {
  background: #057944;
}

.categories-btn-2 {
  background: #09A15C;
  border-radius: 8px;
  border: none;
  padding: 11px 20px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.categories-btn-3 {
  background: #FFC239;
  border-radius: 8px;
  border: none;
  padding: 11px 20px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.categories-btn-3:hover {
  background: #b48414;
}

/* Speech Area*/
.speech {
  background: #FFFFFF;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  margin-top: 32px;
  margin-bottom: 128px;
}

.speech-container {
  padding: 48px 24px;
}

.qute-img {
  z-index: 1;
  margin: 0;
  padding: 0;
}

.speech-box {
  z-index: 999;
}

.speech-text {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  margin-bottom: 12px;
}

.speakers-name {
  font-weight: 700;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 0;
}

.speakers-intro {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
  margin-top: 5px;
}